.gridCases {
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: repeat(9, 1fr);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
}

.amb {
  position: relative;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  height: 350px;
}

.amb p {
  position: absolute;
  top: 30px;
  left: 30px;
  transition: all 0.5s ease;
}

.amb img {
  position: absolute;
  height: 350px;
  transition: all 0.5s ease;
  width: 100%;
}

.amb:hover p {
  opacity: 0;
  transform: translateY(-50px);
}

.amb:hover img {
  transform: scale(1.1);
}

.amb:hover .bgAmb {
  opacity: 1;
}

.bgAmb {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 350px;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  transition: all 0.5s ease;
}

.amb:nth-child(2) .bgAmb {
  background-color: rgba(34, 211, 238, 0.5);
}

.amb:nth-child(3) .bgAmb {
  background-color: rgba(180, 83, 9, 0.5);
}
.amb:nth-child(4) .bgAmb {
  background-color: rgba(6, 182, 212, 0.5);
}
.amb:nth-child(5) .bgAmb {
  background-color: rgba(79, 70, 229, 0.5);
}
.amb:nth-child(6) .bgAmb {
  background-color: rgba(12, 74, 110, 0.5);
}
.amb:nth-child(7) .bgAmb {
  background-color: rgba(21, 128, 61, 0.5);
}
.amb:nth-child(8) .bgAmb {
  background-color: rgba(217, 119, 6, 0.5)
}
.amb:nth-child(9) .bgAmb {
  background-color: rgba(156, 163, 175, 0.5)
}
.amb:nth-child(10) .bgAmb {
  background-color:rgba(220, 38, 38, 0.5)
}
.amb:nth-child(11) .bgAmb {
  background-color: rgba(202, 138, 4, 0.5)
}
.amb:nth-child(12) .bgAmb {
  background-color: rgba(101, 163, 13, 0.5)
}

.amb:nth-child(3) p {
  color: #fff;
}

.amb:nth-child(4) p {
  color: #fff;
}

.amb:nth-child(7) p {
  color: #fff;
}

.amb:nth-child(12) p {
  color: #fff;
}

.bgAmb div {
  transform: translateY(120px);
  transition: all 0.5s ease;
}

.amb:hover .bgAmb div {
  transform: translateY(0);
}
