.logoHome {
  animation: logoHome 2s infinite;
}

@keyframes logoHome {
  0% {
  }
  50% {
    transform: translateY(25px);
  }
  100% {
  }
}

@media (max-width: 1120px) {
  .logoHome {
    right: 70px;
    width: 200px;
  }

  .textHome {
    font-size: 35px !important;
  }
}

@media (max-width: 900px) {
  .logoHome {
    right: 20px;
    width: 150px;
  }

  .textHome {
    font-size: 35px !important;
  }
}

@media (max-width: 700px) {
  .logoHome {
    display: none;
  }

  .textHome {
    font-size: 30px !important;
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .textHome {
    font-size: 25px !important;
    width: 100% !important;
  }

  .contentHome {
    height: 75vh;
  }
}

@media (max-width: 400px) {
  .contentHome {
    height: 70vh;
  }
}
