.contentImglogo img {
  transition: all 0.5s ease;
  width: 85px;
}

.contentImglogo img:hover {
  transform: scale(1.1);
}

.contentImglogo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 100px 50px;
  margin-top: 50px;
}

.contentImglogo img {
  margin-right: 38px;
}

.contentImglogo img:first-child {
  margin-right: 0;
}

@media (max-width: 900px) {
  .contentWeAreTrust {
    margin-top: 160px;
  }

  .contentImglogo {
    margin-top: 40px;
    grid-gap: 60px 50px;
  }
}

@media (max-width: 760px) {
  .contentWeAreTrust {
    margin-top: 40px;
  }

  .contentWeAreTrust h4 {
    font-size: 25px !important;
  }

  .contentImglogo {
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px 50px;
  }
}

@media (max-width: 500px) {
  .contentWeAreTrust {
    margin-top: 30px;
  }

  .contentWeAreTrust h4 {
    font-size: 20px !important;
  }

  .contentImglogo {
    margin-top: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px 35px;
  }
}
